* { padding: 0; margin: 0; }
html, body, #video, #chat {
    height: 100vh;
    background-color: #040404;
}
#container {
  width: 100%;
  font-size: 0;
}
#video, #chat {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
#video {
  width: 75%;
}
#chat {
  width: 25%;
}
