* { padding: 0; margin: 0; }
html, body, #video, #chat {
    height: 100vh;
    background-color: #040404;
    overflow: hidden;
}
#container {
  float: left;
  width: 100%;
  font-size: 0;
}
#video, #chat {
  display: inline-block;
  *display: inline;
  vertical-align: top;
}
#video {
  width: 80%;
}
#chat {
  width: 20%;
}
